In [1]:
import pandas as pd
import numpy as np

In [3]:
profiles = pd.read_parquet("profiles.parquet")
monthly_prices = pd.read_parquet("monthly_prices.parquet")

In [5]:
del monthly_prices["return"]

In [6]:
monthly_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10253636 entries, 0 to 10253635
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   symbol  object
 1   date    datetime64[us]
 2   close   float64
dtypes: datetime64[us](1), float64(1), object(1)
memory usage: 234.7+ MB

In [8]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52615 entries, 0 to 52614
Data columns (total 83 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   symbol                    52615 non-null  object
 1   close                     52604 non-null  float64
 2   Beta                      52615 non-null  float64
 3   VolAvg                    52615 non-null  int64
 4   MktCap                    52615 non-null  int64
 5   LastDiv                   52615 non-null  float64
 6   companyName               52615 non-null  object
 7   currency                  52453 non-null  object
 8   cik                       11511 non-null  float64
 9   isin                      26468 non-null  object
 10  cusip                     17581 non-null  object
 11  exchange                  52589 non-null  object
 12  exchangeShortName         52611 non-null  object
 13  website                   48448 non-null  object
 14  description               50916 non-null  object
 15  CEO                       50085 non-null  object
 16  country                   50994 non-null  object
 17  fullTimeEmployees         38611 non-null  float64
 18  phone                     45931 non-null  object
 19  address                   50667 non-null  object
 20  city                      50261 non-null  object
 21  state                     20524 non-null  object
 22  zip                       45064 non-null  object
 23  image                     52615 non-null  object
 24  ipoDate                   52220 non-null  object
 25  defaultImage              52615 non-null  bool
 26  isEtf                     52615 non-null  bool
 27  isActivelyTrading         52615 non-null  bool
 28  isFund                    52615 non-null  bool
 29  isAdr                     52615 non-null  bool
 30  isUS                      52615 non-null  bool
 31  isCA                      52615 non-null  bool
 32  isNA                      52615 non-null  bool
 33  isNAPrimary               52615 non-null  bool
 34  industry                  48457 non-null  object
 35  sector                    48457 non-null  object
 36  M_score                   27526 non-null  float64
 37  Z_score                   27187 non-null  float64
 38  ROA                       27427 non-null  float64
 39  ROE                       24337 non-null  float64
 40  FinancialLeverage         24659 non-null  float64
 41  GrossMargin               25109 non-null  float64
 42  OperatingMargin           25109 non-null  float64
 43  AssetsTurnover            27489 non-null  float64
 44  RevenueGrowth_1Y          24793 non-null  float64
 45  RevenueGrowth_3Y          23967 non-null  float64
 46  OperatingIncomeGrowth_1Y  19285 non-null  float64
 47  OperatingIncomeGrowth_3Y  18992 non-null  float64
 48  CapexGrowth_1Y            5545 non-null   float64
 49  CapexGrowth_3Y            4519 non-null   float64
 50  EPSBasic                  27526 non-null  float64
 51  EPS                       27526 non-null  float64
 52  EPSDiluted                27526 non-null  float64
 53  StockholdersEquity        27526 non-null  float64
 54  MinorityInterest          27526 non-null  float64
 55  Revenues                  27526 non-null  float64
 56  TotalDebt                 27526 non-null  float64
 57  NetDebt                   27526 non-null  float64
 58  Cash                      27526 non-null  float64
 59  FCF                       27526 non-null  float64
 60  FCFE                      27526 non-null  float64
 61  EBIT                      27526 non-null  float64
 62  EBITDA                    27526 non-null  float64
 63  NI                        27526 non-null  float64
 64  OperatingIncome           27526 non-null  float64
 65  date                      50248 non-null  datetime64[ns]
 66  freeFloat                 52615 non-null  float64
 67  floatShares               52615 non-null  float64
 68  outstandingShares         52615 non-null  float64
 69  EPS_forward               5190 non-null   float64
 70  BVPerShare                27526 non-null  float64
 71  RevenuePerShare           27526 non-null  float64
 72  EV                        27526 non-null  float64
 73  PE_trailing               17791 non-null  float64
 74  PE_forward                3599 non-null   float64
 75  PB                        25009 non-null  float64
 76  PS                        24550 non-null  float64
 77  EVtoFCF                   19204 non-null  float64
 78  EVtoFCFE                  14617 non-null  float64
 79  EVtoEBIT                  18698 non-null  float64
 80  EVtoEBITDA                19870 non-null  float64
 81  mtd_return                35914 non-null  float64
 82  ytd_return                48798 non-null  float64
dtypes: bool(9), datetime64[ns](1), float64(51), int64(2), object(20)
memory usage: 30.2+ MB

In [18]:
data = (profiles.loc[(profiles.isUS == True) & (profiles.isNAPrimary == True), ["symbol", "companyName"]]
        .merge(monthly_prices, on="symbol")
       )

In [23]:
data = data.loc[data.date>="2017-01-01"].reset_index(drop=True)

In [24]:
data

       symbol                 companyName       date  close
0           A  Agilent Technologies, Inc. 2017-01-31  48.97
1           A  Agilent Technologies, Inc. 2017-02-28  51.30
2           A  Agilent Technologies, Inc. 2017-03-31  52.87
3           A  Agilent Technologies, Inc. 2017-04-30  55.05
4           A  Agilent Technologies, Inc. 2017-05-31  60.34
...       ...                         ...        ...    ...
385093   ZYXI                 Zynex, Inc. 2023-05-31   9.38
385094   ZYXI                 Zynex, Inc. 2023-06-30   9.59
385095   ZYXI                 Zynex, Inc. 2023-07-31   9.76
385096   ZYXI                 Zynex, Inc. 2023-08-31   7.70
385097   ZYXI                 Zynex, Inc. 2023-09-30   7.55

[385098 rows x 4 columns]

In [25]:
data.to_parquet("monthly_stocks.parquet", index=False)